extends layout

block content
  h1= title
  p Welcome to #{title}
  
  - var cellNum = 56;

  table
    each row in [8,7,6,5,4,3,2,1]
      tr
        each column in [7,6,5,4,3,2,1]
          td(data-row="#{row}" data-column="#{column}")= cellNum
          - cellNum -= 1;

  button.move(data-move="up") up
  button.move(data-move="down") down
  button.move(data-move="left") left
  button.move(data-move="right") right

  .board(data-table="#{board}")



