body
  padding 50px
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif
  

$gray = #D2D9EE
$light-blue = #4196D0

table
    border 1px $gray solid
    border-collapse collapse

td
    text-align center
    border $gray 1px solid
    width 60px
    height 60px 
    
.active
    background $light-blue